<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 indexGuestText">
            <h2 class="text-center">Hello and welcome to our site</h2>
            <p>Feel free to make yourself a registration <a asp-area="" asp-controller="Account" asp-action="Register">here</a></p>
            <p>Or if you already have one, log in <a asp-area="" asp-controller="Account" asp-action="Login">here</a></p>
            <p>
                After a registration you will be able to write review for you favourite Comics, Books or Movies.
            </p>
        </div>
    </div>
</div>