@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="container-fluid">
    @if (!this.SignInManager.IsSignedIn(User))
    {
        @Html.Partial("_IndexUnsignedUserPartial")
    }
    else
    {
        <h2>Welcome back, <span class="indexUsername">@User.Identity.Name</span></h2>
    }
</div>
