@model List<ListAllReviewsServiceModel>
@{
    ViewData["Title"] = "Index";
}

<h2>All reviews for section Comics: </h2>

<div class="row">
    <div class="card-deck">
        @foreach (var comic in this.Model)
        {
            @Html.Partial("_ListReviewPartial", comic)
        }
    </div>
</div>

